@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@font-face {
    font-family: 'Press Gothic';
    src: url(./Fonts/The\ Last\ Of\ Us\ Rough.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

body{
    font-family: 'Press Gothic';
    background-color: black;
}

/*Main*/

#banner{
    background-image: url(./IMG/Wall2.png);
    height: 80vh;
    background-size: cover;
    display: flex;
    align-items: center;
    background-position: center center;
    width: 80%;
    margin: auto;
}

#banner h1{
    text-align: center;
    display: flex;
    justify-content:flex-start;
}

.juntos{
    width: 510px;
    display: flex;
    margin: 70px;
    justify-content: flex-start;
}

/*Footer*/

footer{
    background-color:black;
    color:#eaeaea;
    padding: 40px 20px;
    font-family: 'Press Gothic';
    text-align: center;
    border-top: 3px solid #8b0000;
    width: 80%;
    margin: auto;
}
.contenidofooter{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.logofooter h2{
    font-size: 30px;
    color:#eaeaea;
    margin: 5px 0;
}
.logofooter p{
    font-size: 20px;
    color:#eaeaea;
    margin: 5px 0;
}
.redes h3{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.redes a{
    text-decoration: none;
    color:#eaeaea;
    font-size: 16px;
    transition: color 0.3s ease;
}
.redes a:hover{
    color:#8b0000;
}
.bottomfooter{
    border-top: 1px solid;
    padding: 15px;
    color: #8b0000;
}
.bottomfooter p{
    font-size: 20px;
    color:#eaeaea;
    margin:0;
}

/*Personajes Principales*/

#personajes h1{
    color: #eaeaea;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 30px;
    font-family: 'Oswald';
    background-color: grey;
    border-radius: 5px;
    
}
#personajes{
    background-color: black;
    padding: 50px 20px;
    width: 80%;
    margin: auto;
}

.conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.conteiner > div{
    width: 18vw;
}

#personajes .img{
    border-radius: 10px;
    border: 3px solid grey;
    width: 100%; 
}

#personajes .img:hover{
    transition: 1s;
    transform: scale(1.01);
}

#personajes h3{
    margin: 15px 0 10px;
    font-size: 1.5em;
    color: #eaeaea;
    font-family: 'Oswald';
}

#personajes p{
    font-size: 1em;
    line-height: 1.4;
    color: #eaeaea;
    font-family: 'Oswald';
}

/*Infectados*/

#infectados{
    background-color: black;
    color: #eaeaea;
    padding: 50px 20px;
    margin: auto;
    width: 80%;
}

.fases {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 40px;
    gap: 20px;
}
    
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { grid-area: 2 / 3 / 3 / 4; }

.fases>div{
    height: 23vw;
    background-color: #2d572c;
    border-radius: 10px;
    border: 3px solid #2d572c;
}

#infectados h2{
    color:#eaeaea;
    font-family: 'Oswald';
    text-align: center;
    padding: 10px;
    background-color: #2d572c;
    border-radius: 5px;
}

.fases h3{
    text-align: center;
    font-family: 'Oswald';
}

.fases p{
    text-align: center;
    font-family: 'Oswald';
    border-radius: 5px;
    background-color: black;
}

.fases img{
    border-radius: 5px;
    height: 15vw;
}

.audio{
    display: flex;
    justify-content: center;
    margin-top: 6px;
}

/*Secundarios*/

#secundarios h2{
    color: #eaeaea;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 30px;
    font-family: 'Oswald';
    background-color:#A52A2A;
    border-radius: 5px;
}

#secundarios{
    padding: 50px 20px;
    background-color: black;
    width: 80%;
    margin: auto;
    color: #eaeaea;
    font-family: 'Oswald';
}

.secun>div{
    display: flex;
    flex-wrap: wrap;
}

.secun>div>div{
    width: 24%;
}

/*Historia*/

#historia{
    background-color: black;
    padding: 50px 40px;
    font-family: 'Oswald';
    width: 80%;
    margin: auto;
}

#historia h1{
    color: grey;
    font-size: 30px;
    margin-bottom: 10px;
}

#historia h2{
    color: grey;
}

#historia p{
    color: #eaeaea;
}

#historia a{
    color:#8b0000;
}

#capitulos{
    background-color: black;
    font-family:'Oswald';
    color: #eaeaea;
    padding: 50px 40px;
    margin: auto;
    width: 80%;
}
#capitulos h2{
    margin-bottom: 15px;
    color: grey;
}
#capitulos h3{
    color: white;
    margin-right: 1vw;
}
.caps1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}


#capitulos .otoño:hover{
    transform: scale(0.9);
}
#capitulos .verano:hover{
    transform: scale(0.9);
}
#capitulos .primavera:hover{
    transform: scale(0.9);
}
#capitulos .invierno:hover{
    transform: scale(0.9);
}


.caps1>div{
    width: 24%;
    
}

.caps2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.caps2>div{
    width: 24%;
}

.caps3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.caps3>div{
    width: 24%;
}

#capitulos .otoño{
    border: 2px solid #b96e57;
    transition: 1s;
    border-radius: 9px;
}
#capitulos .verano{
    border: 2px solid #f9c54e;
    transition: 1s;
    border-radius: 9px;
}
#capitulos .primavera{
    border: 2px solid #dbde83;
    transition: 1s;
    border-radius: 9px;
}
#capitulos .invierno{
    border: 2px solid #1a8ca2;
    transition: 1s;
    border-radius: 9px;
}

/*Historia2*/

#historia2{
    background-color: black;
    padding: 50px 40px;
    font-family: 'Oswald';
    margin: auto;
    width: 80%;
}

#historia2 h2{
    color: grey;
}

#historia2 p{
    color: #eaeaea;
}

#historia2 a{
    color:#8b0000;
}

#capitulos2{
    background-color: black;
    font-family:'Oswald';
    color: #eaeaea;
    padding: 50px 40px;
    margin: auto;
    width: 80%;
}

#capitulos2 h2{
    margin-bottom: 15px;
    color: grey;
}
#capitulos2 h3{
    color: white;
    margin-right: 1vw;
}
.caps21{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.caps21>div{
    width: 24%;
}

.caps22>div{
    width: 24%;
}

.caps22{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.caps32>div{
    width: 24%;
}

.caps32{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.caps32>div{
    width: 24%;
}

#capitulos2 .otoño{
    border: 2px solid #b96e57;
    transition: 1s;
    border-radius: 9px;
}
#capitulos2 .verano{
    border: 2px solid #f9c54e;
    transition: 1s;
    border-radius: 9px;
}
#capitulos2 .primavera{
    border: 2px solid #dbde83;
    transition: 1s;
    border-radius: 9px;
}
#capitulos2 .invierno{
    border: 2px solid #1a8ca2;
    transition: 1s;
    border-radius: 9px;
}

#capitulos2 .otoño:hover{
    transform: scale(0.9);
}
#capitulos2 .verano:hover{
    transform: scale(0.9);
}
#capitulos2 .primavera:hover{
    transform: scale(0.9);
}
#capitulos2 .invierno:hover{
    transform: scale(0.9);
}





/*Análisis*/

#analisis{
   width: 80%;
   margin: auto;
   background-color: black;
   margin-top: 40px;
   font-family: 'Oswald';
   color: #eaeaea;
}

h1{
    color: grey;
}
h2{
    color: grey;
}

#analisis>div{
    padding: 30px;
}

.viaje>div:nth-child(3){
    width: 90%;
    margin: auto;
    margin-top: 30px ;
    margin-bottom: 30px;
}

.viaje>div:nth-child(4){
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.viaje2>div:nth-child(3){
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.viaje3>div:nth-child(3){
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.viaje4>div:nth-child(3){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.viaje4>div:nth-child(3)>div{
    width: 49%;
}

/*Noticias*/

#noticias{
    background-color: black;
    width: 80%;
    font-family: 'Oswald';
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.tarjeta {
    background-color: black;
    border-radius: 8px;
    overflow: hidden;       
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 49%;
}  

.tarjetaimg {
    position: relative; 
}
  
.tarjetaimg img {
    display: block;
    height: auto;
}
  
.tag {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: grey;
    color: #fff;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
}
  
.tarjetaconte {
    padding: 1rem;
    flex: 1; 
}
  
.tarjetaconte h2 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}
  
.tarjetaconte p {
    line-height: 1.5;
    margin-bottom: 1rem;
    color: #eaeaea;
}
  
.tarjetaconte a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}
  
.tarjetaconte a:hover {
    text-decoration: underline;
}




















/*Header Fran*/

body{
    overflow-x: hidden;
}
header{
    background-color: black;
    position: sticky;
    top: 0;
    border-bottom: 3px solid #8b0000;
    width: 80%;
    margin: auto;
    padding: 10px;
}

.nav {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__toggle {
    display: none;
    max-width: 45px;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.menu__item {
    display: inline-block;
    transition: 0.2s ease;
}

.menu__item a {
    color: #eaeaea;
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
}

.menu__item a:hover {
    transition: 0.2s ease;
    color: #8b0000;
}



@media screen and (max-width: 768px) {
    .nav {
        transition: 0.3s ease;
    }

    .nav.display {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: block;
        background: black;
    }
    
    .nav__logo {
        display: inline-block;
        padding: 30px;
        align-self: center;
    }

    .nav__toggle {
        display: block;
        width: 35px;
        margin: 7%;
        float: right;
        cursor: pointer;
        transition: 0.3 ease;
    }

    .nav__toggle:hover {
        color: #ddd;
        transition: 0.3s ease;
    }

    .menu {
        width: 100%;
        flex-direction: column;
    }

    .menu__item {
        opacity: 0;
        text-align: left;
        padding: 20px;
        margin: 0px;
        transition: 0.3s ease;
    }

    .menu__item a {
        display: block;
        color: white;
        padding: 10px;
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s ease;
        font-size: 1.5rem;
    }

    .menu__item a:hover {
        transition: 0.3s ease;
        transform: translateX(5px);
        color: #202020;
    }

    .menu__item.display {
        display: block;
        animation: showMenuItems 0.6s ease;
        animation-fill-mode: both;
    }

    .menu__item.display:nth-child(1) {
        animation-delay: 0.1s;
    }

    .menu__item.display:nth-child(2) {
        animation-delay: 0.2s;
    }

    .menu__item.display:nth-child(3) {
        animation-delay: 0.3s;
    }
    .escon{
        display: none;
        transition: 0;
    }
    .escon *{
        display: none;
    }
    .menu-activador-linea {
        height: 2px;
        display: block;
        background-color: white;
        opacity: 1;
        transform: translateY(0) rotate(0);
        transition: all 0.3s;
        margin-bottom: 10px;
    }
    .display .menu-activador-linea:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
    }
    
    .display  .menu-activador-linea:nth-child(2) {
        opacity: 0;
    }
    
    .display  .menu-activador-linea:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }
}

@keyframes showMenuItems {
    0% {
        opacity: 0;
        transform: translate3d(40px, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}